.wishListBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 32px;
  color: #000;
  width: 152px;
  height: 32px;
  font-size: 1.125rem;
  background-color: transparent;
  border-radius: 16px;
  border: 1px solid #000;
}
