.mainContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;

  h1 {
    margin-top: 56px;
    margin-left: 40px;
    font-size: 1.125rem;
  }
}

.productContainer {
  display: flex;
  align-items: center;
  padding: 24px 0;
  border-bottom: #000 solid 1px;

  .imageContainer {
    flex-shrink: 0;
  }
}
.productTitle {
  flex-grow: 1;

  h3 {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 4px;
  }
  h2 {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 4px;
  }
  h4 {
    display: flex;
    align-items: baseline;
    gap: 100px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 24px;

    span {
      font-size: 1.125rem;
    }
  }
}

.starAndDelete {
  display: flex;
  align-items: center;
  gap: 80px;
}
